# Feature Engineering

In [13]:
df = df.drop('collector.id', axis=1)

In [14]:
df

,c.score,l.score,rain,tree.age,surface.litter,wind.intensity,humidity,tree.density,month,time.of.day,fire
0,13.110,3.421591,0.477187,34.66,6.718047,3.335635,52.0,0.69860,8,afternoon,1
1,11.990,2.874611,0.212425,19.39,6.242029,3.127024,59.0,0.62020,4,morning,0
2,12.910,2.827774,0.118141,15.75,6.397929,3.052446,60.0,0.58235,10,night,0
3,12.060,2.772961,0.097565,13.25,6.278146,3.114239,60.0,0.57025,9,afternoon,1
4,15.060,3.271684,0.438121,47.14,6.932448,3.214831,51.0,0.71150,7,morning,1
...,...,...,...,...,...,...,...,...,...,...,...
451,11.340,2.865292,0.094384,16.41,6.250168,3.271296,58.0,0.58278,3,afternoon,0
452,13.700,2.847752,0.157058,20.64,6.531606,3.087569,60.0,0.59077,9,night,0
453,9.720,2.718282,0.000000,21.69,5.716370,2.926373,62.0,0.50000,2,afternoon,0
454,13.170,2.962686,0.261034,14.49,6.607596,3.196904,52.0,0.66070,6,night,1
455,9.847,2.783123,0.120080,15.24,5.930918,3.165976,58.0,0.56528,12,night,0

Dropped 'collector.id' feature as it does not contribute significantly to prediction accuracy.

In [15]:
targetname ="fire"
allfeaturenames = df.columns[df.columns!=targetname]
x = df[allfeaturenames]
y= df[targetname]

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25,random_state=0)

Split the data into train-test and allocating the features and target variables

In [17]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
import numpy as np
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [9])], remainder='passthrough')

# Fit and transform X_train
x_train = np.array(ct.fit_transform(x_train))

# Transform X_test
x_test = np.array(ct.transform(x_test))

Transforming Catergorical Variable 'time.of.day' into Numerical variable

In [18]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train[:,9:]=sc.fit_transform(x_train[:,9:])
x_test[:,9:]=sc.transform(x_test[:,9:])

Using Standard Scaler to Standardize the dataset. 
Standardization transforms data to have a mean of 0 and a standard deviation of 1, ensuring features contribute equally to model performance.